.welcome-header {
  margin: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.6;
}
