/* 카카오톡 로고 이미지 */
@keyframes highsplashanimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-page {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  animation: highsplashanimation 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* nav-bar badge 애니메이션 */
@keyframes nav-notifi-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  animation: nav-notifi-animation 3s ease-in-out infinite;
}

/* nav-bar 아래에서 위로 나오는 애니메이션 */
@keyframes nav-bar-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: nav-bar-animation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__btn:last-child {
  animation-delay: 0.6s;
}

/* cog 애니메이션 */
@keyframes cog-animation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: cog-animation 2s linear infinite;
}

/* heart bounce 애니메이션 */
@keyframes heart-bounce {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
    color: red;
  }
  100% {
    transform: none;
    color: white;
  }
}

.open-post__column:last-child i:hover {
  will-change: transform;
  animation: heart-bounce 1s ease-in-out infinite;
}
