@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "reset.css";
@import "var.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-header.css";
/* screens */
@import "screens/welcome-header.css";
@import "screens/login-form.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/suggestions.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-screen {
  padding: 0px var(--horizontal);
}
