@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "reset.css";
@import "var.css";

/* components */
@import "components/status-bar.css";
/* screens */
@import "screens/welcome-header.css";
@import "screens/login-form.css";

body {
  font-family: "Open Sans", sans-serif;
}
