@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import "reset.css";
@import "var.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/* screens */
@import "screens/welcome-header.css";
@import "screens/login-form.css";
@import "screens/friends.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
