.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-row__icon i {
  font-size: 28px;
}

.icon-row__icon span {
  font-weight: 600;
  margin-top: 15px;
}
