.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-size: 15px;
  color: #2f363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  display: flex;
  background-color: tomato;
  width: 20px;
  height: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  top: -13px;
  right: -10px;
}

.nav__elipsis-notification {
  position: absolute;
  display: block;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: -10px;
  right: -8px;
}
