.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0px 25px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  font-size: 22px;
  margin-left: 20px;
}
