.service-agreement__all-btn i,
.indi__btn__column i {
  opacity: 0.3;
}

.fa-check-circle {
  margin-right: 5px;
}

.service-agreement {
  margin-bottom: 30px;
}

.agree-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-agreement__all-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: -35px;
  margin-bottom: 30px;
}

.service-agreement__all {
  font-size: 18px;
  border-bottom: var(--main-border);
  padding-bottom: 20px;
}

.service-agreement__all-btn {
  margin-bottom: 13px;
}

.service-agreement__all-text {
  font-weight: 600;
}

.service-agreement__all-paragraph {
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  opacity: 0.6;
  margin-left: 32px;
}

.service-agreement-individual__btn {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-agreement-individual {
  margin-bottom: 40px;
}

.service-agreement__all-btn a:focus,
.indi__btn__column a:focus {
  color: var(--yellow);
}
