#chat {
  background-color: var(--chat-bgcolor);
  height: 1000vh;
}
#chat .status-bar {
  background-color: var(--chat-bgcolor);
  z-index: 2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

#chat .alt-header {
  position: fixed;
  background-color: var(--chat-bgcolor);
  top: 0;
  z-index: 1;
}

#chat .alt-header__column:last-child i {
  margin-left: 20px;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-timestamp {
  color: white;
  padding: 7px 10px;
  background-color: #92a4b2;
  border-radius: 20px;
  margin-bottom: 20px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 18px;
  margin-right: 10px;
}

.message-row__author {
  opacity: 0.6;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.message-row__send {
  display: flex;
  align-items: flex-end;
}
.message-row__time {
  opacity: 0.6;
  font-size: 12px;
}

.message-row__bubble {
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 16px;
  margin-right: 5px;
}

.message-me {
  justify-content: flex-end;
}

.message-me .message-row__send {
  flex-direction: row-reverse;
}

.message-me .message-row__bubble {
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
}

/* 아래는 순서를 bubble과 time의 순서를 바꾸는 다른 방법(order을 사용) */
/* .message-me .message-row__bubble {
  order: 1;
}

.message-me .message-row__time {
  order: 0;
} */

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 15px;
  box-sizing: border-box;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  width: 95%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0px 7px;
}

.reply input::placeholder {
  font-size: 15px;
}

.reply i {
  opacity: 0.7;
  font-size: 28px;
}

.reply__column:first-child i {
  text-align: center;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  top: 4px;
  right: 8px;
}

.reply__column:last-child > i {
  top: 11px;
  right: 60px;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply__column:last-child button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
}
