#chat {
  background-color: var(--chat-bgcolor);
  height: 1000vh;
}
#chat .status-bar {
  background-color: var(--chat-bgcolor);
  z-index: 2;
  padding-bottom: 20px;
  box-sizing: border-box;
}

#chat .alt-header {
  position: fixed;
  background-color: var(--chat-bgcolor);
  top: 0;
  z-index: 1;
}

#chat .alt-header__column:last-child i {
  margin-left: 20px;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-timestamp {
  color: white;
  padding: 7px 10px;
  background-color: #92a4b2;
  border-radius: 20px;
  margin-bottom: 20px;
}

.message-row {
  display: flex;
  width: 100%;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-right: 10px;
}

.message-row__author {
  opacity: 0.6;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.message-row__send {
  display: flex;
  align-items: flex-end;
}
.message-row__time {
  opacity: 0.6;
  font-size: 12px;
}

.message-row__bubble {
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 16px;
  margin-right: 5px;
}
