#friends-display-link {
  display: block;
  margin-top: 15px;
  padding: 17px 0px;
  font-size: 17px;
  text-align: center;
  background-color: #fafafa;
}

#friends-display-link i {
  margin: 0px 5px;
  opacity: 0.4;
}
