/* .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.sign__title {
  margin-top: 35px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
*/
.make {
  align-items: flex-start;
}

.make-height {
  height: 180vh;
}

.make {
  display: flex;
  flex-direction: column;
}

.make__title {
  font-size: 21px;
  margin-top: -25px;
  font-weight: 600;
}

.make__id {
  margin-top: 60px;
}
/* make 전용 input css */
.make-input {
  position: relative;
  width: 80vw;
}

.make-input input {
  margin-left: -20px;
}

.make-input input::placeholder {
  font-size: 16px;
}

.make__absol-span {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 16px;
  color: #7c7c7c;
  font-weight: 600;
}

.make-input input[type="password"] {
  margin-bottom: 5px;
}

.call {
  left: -15px;
}

.call i {
  margin-left: 30px;
}

.make-date {
  left: 110px;
}

.make-date i {
  margin-left: 5px;
}

.make-date:nth-child(2) {
  left: 50px;
}

.make-date:first-child {
  left: -20px;
}

/* end */

.make__alert {
  margin-top: 20px;
  margin-bottom: 40px;
}

.make__list-text {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

.make-section {
  margin-bottom: 30px;
}

.make-aside {
  margin-top: 40px;
}

.make__send-button {
  margin: 40px 0px;
}

.make__send-button input {
  padding: 10px 30px;
  border-radius: 40px;
  border: var(--main-border);
  background-color: white;
  color: black;
  font-size: 17px;
  cursor: pointer;
}

.make-gender {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 400;
}

.make-gender span {
  margin-right: 20px;
}

.make-button {
  margin-left: -3px;
}

.make-info {
  bottom: -610px;
  right: 45px;
}
