/* .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.sign__title {
  margin-top: 35px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
*/
.make {
  align-items: flex-start;
}

.make-height {
  height: 200vh;
}

.make {
  display: flex;
  flex-direction: column;
}
