.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign__start-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.sign__subtitle {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 23px;
  margin-bottom: 80px;
}

.sign__email-question {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.sign__daum-subtitle {
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 23px;
}

.sign__daum-account {
  margin-top: 20px;
  text-decoration: underline;
  font-weight: 600;
}
.sign-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-button input[type="submit"] {
  font-size: 15px;
  width: 85vw;
}

.sign-button input:nth-child(2) {
  background-color: #f6f6f6;
}

.sign-button input[name="agree"] {
  margin-top: -20px;
}
