#sign-up {
  height: 105vh;
}

.sign {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign__title {
  margin-top: 35px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600;
}

.sign__start-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.sign__subtitle {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 23px;
  margin-bottom: 80px;
}

.sign__email-question {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.sign__daum-subtitle {
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 23px;
}

.sign__daum-account {
  margin-top: 20px;
  text-decoration: underline;
  font-weight: 600;
}

.sign__information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  margin-top: 90px;
  margin-bottom: 25px;
}

.sign__information span {
  margin: 0px 2px;
}

.bord {
  font-size: 13.5px;
  font-weight: 600;
}

.sign__company {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}

.sign__company i {
  font-size: 3px;
}

.sign-button input[type="submit"] {
  font-size: 15px;
  width: 85vw;
}

.sign-button input:nth-child(2) {
  background-color: #f6f6f6;
}
